.proj-one {
  grid-column: 1;
  grid-row: 1/3;
}

.proj-two {
  grid-column: 2;
  grid-row: 1/2;
}

.proj-three {
  grid-column: 3;
  grid-row: 1/3;
}

.proj-four {
  grid-column: 1;
  grid-row: 4/7;
}

.proj-five {
  grid-column: 2;
  grid-row: 4/6;
}

.proj-six {
  grid-column: 3;
  grid-row: 4/7;
}
